    <div class="wrapper">
        <aside>
            <button class="close-menu" id="close-menu">
                <i class="bi bi-x"></i>
            </button>
            <header>
                <a href="/products" >
                    <img class="foto" src="https://d22fxaf9t8d39k.cloudfront.net/12c685de5cbd73427138329b8e577c1313a634cb2e69a07e8e692e19827d4721123526.jpeg">
                </a>
            </header>
            <nav>
                <ul>
                    <li>
                        <a class="boton-menu boton-volver" href="/products">
                            <i class="bi bi-arrow-return-left"></i> Seguir comprando
                        </a>
                    </li>
                    <li>
                        <a class="boton-menu boton-carrito active" href="#">
                            <i class="bi bi-cart-fill"></i> Carrito
                        </a>
                    </li>
                </ul>
            </nav>
            <footer>
                <p class="texto-footer">© 2022 BMYM Vapor</p>
            </footer>
        </aside>
        <main>
            <h2 class="titulo-principal">Carrito</h2>
            <div class="contenedor-carrito">
                <div id="carrito-productos" class="carrito-productos">
                {{#each products}}
                        <div class="carrito-producto">
                            <img class="carrito-producto-imagen" src="{{product.thumbnail}}" alt="{{product.title}}">
                            <h3 class="titulo-producto-carrito">{{product.title}}</h3>
                            <p class="carrito-producto-precio">${{product.price}}</p>
                            <p class="carrito-producto-cantidad">Cantidad en el carrito: {{this.quantity}}</p>
                            <p id="productId">{{product._id}}</p>
                            <button class="deleteProductFromCart"><i data-product-id="{{product._id}}" class="deleteIcon bi bi-trash-fill"></i></button>
                        </div>
                {{/each}}
                </div>
                <div id="carrito-acciones" class="carrito-acciones">
                    <div class="carrito-acciones-izquierda">
                        <button id="btn-delete-cart" class="carrito-acciones-vaciar">Vaciar carrito</button>
                    </div>
                    <div class="carrito-acciones-derecha">
                        <div class="carrito-acciones-total">
                            <p>Total:</p>
                            <p id="total">${{this.totalPrice}}</p>
                        </div>
                        <button id="btn-to-purchase" class="carrito-acciones-comprar">Comprar ahora</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
<script src="../js/carts.js"></script>
