<div>
    <h1 class="title">Carrito de compras</h1>
    <div class="carts">
        {{#each products}}
        <div class="cardCart">
            <div class="imageCart">
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
            </div>
            <div class="infoCart">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p>${{this.price}}</p>
                <p>Cantidad en el carrito: {{this.quantity}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
