<div class="add-delete">
    <form id="add" class="add">
        <h3>Agregar products:</h3>
        <div>
            <label>Title:</label>
            <input type="text" id="title"/>
        </div>
        <div>
            <label>Description:</label>
            <textarea id="description"></textarea>
        </div>
        <div>
            <label>Price:</label>
            <input type="number" id="price"/>
        </div>
        <div>
            <label>Thumbnail:</label>
            <input type="text" id="thumbnail"/>
        </div>
        <div>
            <label>Code:</label>
            <input type="text" id="code"/>
        </div>
        <div>
            <label>Stock:</label>
            <input type="number" id="stock"/>
        </div>
        <button id="addProductBtn">Add Product</button>
    </form>

    <form id="delete" class="delete">
        <h3>Eliminar producto:</h3>
        <div>
        <label>Product ID:</label>
        <input type="text" id="productId" />
        </div>
        <button id="deleteProductBtn">Delete Product</button>
    </form>
</div>


<div class="products">
    {{#each products}}
    <div class="cardProduct">
        <div class="imageProduct">
            <img src="{{this.thumbnail}}" alt="{{this.title}}">
        </div>
        <div class="infoProduct">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
            <p>{{this.code}}</p>
            <p>{{this.stock}}</p>
            <span>{{this.id}}</span>
        </div>
    </div>
    {{/each}}
</div>